.App {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding-top: 50px;
  background-color: #070738;
}

.app-container{
  display: inline-flex;
  flex-direction: column;
  width: 92%;
  max-width: 600px;
}

.title{
  font-size: 42px;
  font-weight: 800;
  color: aquamarine;
}

.todo{
  border: 1px solid white;
  min-height: 100px;
  border-radius: 8px;
}

.todo-container{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;

}

.todo-list{
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  color: aquamarine;
}

.add-todo{
  margin-top: 20px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.add-input{
  width: 80%;
  height: 30px;

}

.add-button{

  width: 20%;
  height: 100%;
}